.care{
    width: 100%;
    background: url(../img/bgCat@1x.jpg) no-repeat 50% 50%;
    background-size: cover;
    //background-image: url("../img/bg-gray-cat.png");
    //background-repeat: no-repeat;
    //background-size: cover;
    padding-top: 84px;
    padding-bottom: 98px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
    .care {
        background-image: url(../img/bgCat@2x.jpg);
    }
}
.care-list{
    display: flex;
    justify-content: space-around; //тут лишнее растояние при gap а при jus слишком большое расстояние
    flex-wrap: wrap;
    gap: 42px;
    margin:0;
    align-self: center;
    @media (max-width: $large-width) {
        justify-content: center;
    }  
}
.care-list__title{
    color:$text-brown;
    margin-bottom: 18px;
    margin-left: 59px;
    margin-top: 38px;
    @media (max-width: $tablet-width){
        margin-left: 0;
        margin-top: 0;
    }
}
.care-list__text{
    color: $text-white;
    max-width: 438px;
    margin-left: 59px;
    @media (max-width: $tablet-width){
        margin-left: 0;
        margin-bottom: 0;
    }
}
.care__point{
    position: relative;
    width: 558px;
    height: 165px;
    border-color: $text-brown;
    border-style: solid;
    border-width: 1px;
    display: flex;
    @media (max-width: $tablet-width){
        width: 290px;
        height: 190px;
        padding: 20px;
        padding-right: 0px;
    }
}
.care__link-text::after{
    position: absolute;
    background-color: $text-brown;
    content: url("../img/arrow.png");
    width: 60px;
    height: 163px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $tablet-width){
        width: 46px;
        height: 190px;
    }
}
.care__link-text{
    @media (max-width: $tablet-width){
        max-width: 212px;
        max-height: 2000px;
    }
}
.sector-care{
    margin-bottom: 48px;
}
.care__link:hover{
    background-color:$bg-black;
    .care__link-text::after{ 
        background-color: $bg-black;
        border-left-color: $text-brown;
        border-left-width: 1px;
        border-left-style: solid;
        border-bottom-color: $text-brown;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}