.care{
    background-image: url("../img/bg-gray-cat.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.care-list__title{
    color:$text-brown;

}
.care-list__text{
    color: $text-white;
}