p{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.sector-heading{
    font-family: "YesevaOne", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}
.sector-sub-title{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px; 
    line-height: 26px;
}
.header__menu-link{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.header__title{
    font-family: "YesevaOne", "Arial", sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 60px;
}
.header__t{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.pets__button{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 18px; 
    line-height: 21px;
}
.peculiarities__list__first{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
.care-list__text{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
}
.care-list__title{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.about-employee__name{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.about-employee__position{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.question{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.answer{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 154%;
}
.reviews__name{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.reviews__date{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}
.footer__adress{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}
.footer__phone{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
}
.modal__title{
    font-family: "YesevaOne", "Arial", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}
.modal__text{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.modal__question{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}
.modal__warning{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.modal__send-call{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}