.header{
    background-color: $bg-header;
    //max-height: 684px;
    height: 684px;
}
.header__cat{
    position: absolute;
    top:-28px;
    right: 0px;
    max-height: 100%;
}
.header__nav{
    display: flex;
    margin-left: 12.6%;
}
.header__menu{
    display:flex;
    align-items: center;
    width:355px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 110px;
}
.header__social{
    position: absolute;
    left:2.5%;
    bottom:9.5%;
}
/*
.header__social::before{
    border: 0.5px solid rgba(255, 255, 255, 0.61);
}*/
.header__text{
    width:622px;
    margin-left:12.6%;
    margin-top: 36px;
}
.header__menu-link{
    color: $no-activ-white;
}
.header__menu-link:hover{
    color: $text-white;
}
.header__logo{
    position: absolute;
    display: block;
    margin:0 auto;
    top:0;
    left:48%;
    margin-top: 42px;  
}
.title{
    color:$text-white;
}
.header__t{
    color: $text-brown;
}
.header__link{
    margin-top: 50px;
}
.header__container{
    height: 100%;
    z-index: 2;
}
.header__social::after{
    position: absolute;
    border: 0.5px solid rgba(255, 255, 255, 0.61);
    content: "";
    height: 78px;
    left: 40%;
    bottom:150%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.header__social-point:not(:last-child){
    margin-bottom: 15px;
}
.header__social-point{
    text-align: center;
}
.svg-logo{
    fill: $text-brown;
}
.svg-logo:hover{
    fill: $text-white;
}
@media (max-width: $tablet-width) {
    .header__menu {
      width: 280px;
      line-height: 18px;
      font-size: 15px;
    }
    .header__nav{
        margin-left: 20px;
        margin-bottom: 0;
    }
    .header__text{
        margin-left: 20px;
    }
    .header__logo{
        margin-top: 42px;
        margin-bottom: 90px;
    }
    .header__t{
        margin: 0;
    }
    .header__cat{
        width:784px;
        height: 533px;
        bottom: 0;
        top:auto;
    }
    .header{
        height: 595px;
        position: relative;
    }
  }