.modal-window{
    width: 680px;
    //height: 368px;
    background-color: $text-white;
    margin: 0 auto;
    position: relative;
    padding:0px 40px;
    border-radius: 10px;
    @media (max-width: $large-width) {
        width: 285px;
        padding:0px 20px;
    }
}
.modal__close-button{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 16px;
    top: 16px;
}
.modal__title{
    display: inline-block;
    margin:0;
    margin-top: 30px;
    color: $modal-brown;
    @media (max-width: $large-width) {
        font-size: 18px;
        line-height: 25px;
    }
}
.modal__text{
    margin:35px 0px;
    color: $modal-brown;
    @media (max-width: $large-width) {
        font-size: 16px;
        line-height: 21px;
        width: 220px;
        margin: 25px 0px;
    }
}
.modal__form-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal__warning{
    width:265px;
    margin-bottom: 40px;
    color: $modal-warn;
    @media (max-width: $large-width) {
        margin-bottom: 30px;
        width: 240px;
        order: 1;
    }
}
.modal__question{
    color: $modal-brown;
    width:280px;
    margin-bottom: 17px;
    @media (max-width: $large-width) {
        margin-bottom: 13px;
    }
}
.modal__field{
    color: $modal-brown;
    width: 280px;
    height: 56px;
    border-color: #674C331A;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding-left: 24px;
    margin-bottom: 30px;
    @media (max-width: $large-width) {
        margin-bottom: 20px;
    }
}
.warning__link{
    color: $modal-warn;
    text-decoration: underline;
}
.modal__send-call{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    color: $text-white;
    height: 56px;
    width: 280px;
    background-color: $text-brown;
    @media (max-width: $large-width) {
        margin-bottom: 15px;
    }
}
.modal__send-call:hover{
    color: $modal-brown;
    background-color: $text-white;
}
.modal__question-name{
    align-self: flex-start;
    order:-2;
    @media (max-width: $large-width) {
        order: 0;
    }
}
.modal__question-phone{
    order: -1;
    @media (max-width: $large-width) {
        order: 0;
    }
}