.our-command{
    background-color: $bg-black;
    padding-bottom: 72px;
    padding-top: 83px;
    @media (max-width: $tablet-width){
        padding: 60px;
    }
}
.about-employee__name{
    color: $text-brown;
}
.about-employee__position{
    color: $text-brown;
}
.command__sector-text{
    margin-top: 22px;
    margin-bottom: 22px;
    @media (max-width: $tablet-width){
        width: 255px;
    }
}
.command__employee-wrapper{
    position: relative;
    display:flex;
    right: -48px;
    @media (max-width: $large-width) {
        position: static;
        display: block;
        margin-bottom: 200px;
        margin-top: -150px;
    }
    @media (max-width: $tablet-width){
        margin-top: 0;
        margin-bottom: 0;
    }
}
.about-employee-container{
    position: relative;
    border-color: $text-brown;
    border-width: 1px;
    border-style: solid;
    padding:23px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -48px;
    @media (max-width: $large-width) {
        position: static;
    }
    @media (max-width: $tablet-width){
        padding: 0;
        border: 0;
    }
}
.about-employee{
    width: 600px;
    //height: 356px;
    background-color: $bg-gray;
    padding-top: 70px;
    padding-left: 100px;
    @media (max-width: $tablet-width){
        width: 270px;
        padding: 8px;
        padding-top: 80px;
        //margin-top: 100px;
        text-align: center;
    }
    
}

.about-employee__name{
    margin:0;
    @media (max-width: $tablet-width){
        font-size: 18px;
    }
}
.about-employee__position{
    margin-top: 10px;
    margin-bottom: 30px;
}
.social-links-employee{
    margin-top: 43px;
    display: flex;
    width: 60px;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 75px;
    @media (max-width: $tablet-width){
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 15px;
        
    }
}
.command__employee-photo{
    z-index: 10;
    @media (max-width: $large-width) {
        position: relative;
        top: 500px;
        left: 60%;
    }
    @media (max-width: $tablet-width){
        top: 60px;
        left:27%;
    }
}
.command__employee-photo img{
    @media (max-width: $large-width) {
        width: 207px;
        height: 209px;
    }
    @media (max-width: $tablet-width){
        width: 126px;
        height: 126px;
    }
}

.social-link__point{
    margin-right: 10px;
}
.left-slide-button{
    position: absolute;
    left: 45px;
    top: 60%;
}
.right-slide-button{
    position: absolute;
    right: 45px;
    top: 60%;
}
.command__left-slide{
    position: absolute;
    left: 45px;
    top: 60%;
    @media (max-width: $large-width) {
        left: 54%;
        top: 82%;
    }
    @media (max-width: $tablet-width){
        left: 6%;
        top: 43%;
    }
}
.command__right-slide{
    position: absolute;
    right: 45px;
    top: 60%;
    @media (max-width: $large-width) {
        right: 5%;
        top: 82%;
    }
    @media (max-width: $tablet-width){
        right: 5%;
        top: 43%;
    }
}