.our-command{
    background-color: $bg-black;
    padding-bottom: 72px;
    padding-top: 83px;
}
.about-employee__name{
    color: $text-brown;
}
.about-employee__position{
    color: $text-brown;
}
.command__sector-text{
    margin-top: 22px;
    margin-bottom: 22px;
}
.command__employee-wrapper{
    position: relative;
    display:flex;
    right: -48px;
    @media (max-width: $large-width) {
        position: static;
        display: block;
        margin-bottom: 200px;
        margin-top: -150px;
    }
}
.about-employee-container{
    position: relative;
    border-color: $text-brown;
    border-width: 1px;
    border-style: solid;
    padding:23px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -48px;
    @media (max-width: $large-width) {
        position: static;
    }
}
.about-employee{
    width: 600px;
    //height: 356px;
    background-color: $bg-gray;
    
}
.about-employee:only-child{
    padding-top: 70px;
    padding-left: 100px;
}
.about-employee__name{
    margin:0;
}
.about-employee__position{
    margin-top: 10px;
    margin-bottom: 30px;
}
.social-links-employee{
    margin-top: 43px;
    display: flex;
    width: 60px;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 75px;
}
.command__employee-photo{
    z-index: 10;
    @media (max-width: $large-width) {
        position: relative;
        top: 500px;
        left: 60%;
    }
}
.command__employee-photo img{
    @media (max-width: $large-width) {
        width: 207px;
        height: 209px;
    }
}
.answer{
    border-color: $text-brown;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    padding: 40px;
}
.social-link__point{
    margin-right: 10px;
}
.left-slide-button{
    position: absolute;
    left: 45px;
    top: 60%;
}
.right-slide-button{
    position: absolute;
    right: 45px;
    top: 60%;
}
.command__left-slide{
    position: absolute;
    left: 45px;
    top: 60%;
    @media (max-width: $large-width) {
        left: 54%;
        top: 82%;
    }
}
.command__right-slide{
    position: absolute;
    right: 45px;
    top: 60%;
    @media (max-width: $large-width) {
        right: 5%;
        top: 82%;
    }
}