.peculiarities{
    background-color: $bg-gray;
}
.peculiarities__sector-text{
    max-width: 720px;
    @media (max-width: $large-width) {
        margin-bottom: 0;
        margin-top: 25px;
    }
    @media (max-width: $tablet-width){
        margin-bottom: 30px;
    }
}

.peculiarities__list{
    z-index: 2;
    height: 0px;
    @media (max-width: $tablet-width){
        height: 100%;
    }
}
.peculiarities__cat-image img{
    @media (max-width: $large-width) {
        width: 410px;
        height: 609px;
    }
    @media (max-width: $tablet-width){
        width: 267px;
        height: 291px;
    }
}
.peculiarities__container{
    position: relative;
    @media (max-width: $tablet-width){
        position: static;
        //width: 290px;
    }
    
}
.peculiarities__cat-container {
    width: 602px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    transform: translateX(33px);
    @media (max-width: $large-width) {
        display: block;
        transform: none;
        margin: 0 auto;
        display: block;
    }
    @media (max-width: $tablet-width){
        width: auto;
        margin: 30px auto;
    }  
}
    
.peculiarities__cat-container::before {
    content: "";
    position: absolute;
    top: 21%;
    left: 4%;
    z-index: -1;
    width: 519px;
    height: 519px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.35);
    @media (max-width: $large-width) {
        width: 342px;
        height: 348px;
        top: 22%;
        left: 19%;
    }  
    @media (max-width: $tablet-width){
        width: 230px;
        height: 230px;
        top: 5%;
        left: 10%;
    }
}
    
.peculiarities__cat-container::after {
    content: "";
    position: absolute;
    top:14%;
    left: -5%;
    z-index: -1;
    border-radius: 50%;
    width: 631px;
    height: 631px;
    border: 1px solid $text-brown;
    @media (max-width: $large-width) {
        width: 416px;
        height: 423px;
        top: 16%;
        left: 13%;
    }  
    @media (max-width: $tablet-width){
        width: 280px;
        height: 280px;
        top: -3%;
        left: 2%;
    }
}
.peculiarities__point{
    position: relative;
    @media (max-width: $tablet-width){
        position: relative;
        //display: flex;
        width: 260px;
        margin-bottom: 30px;
        margin-left: 15px;
        font-size: 14px;
    }
}
.peculiarities__point::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 10px;
    width: 15px;
    height: 15px;
    background-color: $text-brown;
    @media (max-width: $large-width) {
        width: 10px;
        height: 10px;
        top: 5px;
    }  
    @media (max-width: $tablet-width){
        width: 8px;
        height: 8px;
    }
}

.peculiarities__cat-image-red{
    @media (max-width: $large-width) {
        display: block;
        width: 410px;
        margin:0 auto;
    }  
}
.peculiarities__point-one{
    font-size: 14px;
    line-height: 21px;
    top: -650px;
    left: -177px;
    max-width: 255px;
    text-align: right;
    @media (max-width: $large-width) {
        top: -423px;
        left: -33px;
        max-width: 150px;
    }  
    @media (max-width: $tablet-width){
        top: 0;
        left: 0;
        max-width: 260px;
        text-align: left;
    }
}
.peculiarities__point-one::before{
    right: -39px;
    border-radius: 15px; 
    @media (max-width: $tablet-width){
        top: 0;
        left: 0;
    }
    @media (max-width: $tablet-width){
       left: -20px; 
       top: 3px;
    }
}
.peculiarities__point-four{
    top: -430px;
    left: -134px;
    max-width: 212px;
    text-align: right;
    @media (max-width: $large-width) {
        top: -400px;
        left: -20px;
        max-width: 140px;
    }
    @media (max-width: $tablet-width){
        top: 0;
        left: 0;
        max-width: 260px;
        text-align: left;
    }  
}
.peculiarities__point-four::before{
    right: -39px;
    border-radius: 15px;
    @media (max-width: $tablet-width){
        left: -20px;
        //right: 0; 
        top: 3px;
    }
}
.peculiarities__point-two{
    top: -570px;
    right: -717px;
    max-width: 201px;
    @media (max-width: $large-width) {
        top: -425px;
        left: 558px;
        right: 0;
        max-width: 114px;
    } 
    @media (max-width: $tablet-width){
        top: 0;
        left: 0;
        max-width: 260px;
        text-align: left;
    } 
}
.peculiarities__point-two::before{
    top: 3px;
    left: -36px;
    border-radius: 15px;
    @media (max-width: $tablet-width){
        left: -20px; 
        top: 3px;
    }
}
.peculiarities__point-three{
    top: -390px;
    right: -674px;
    max-width: 170px;
    @media (max-width: $large-width) {
        top: -345px;
        left: 542px;
        right: 0;
        max-width: 110px;
    } 
    @media (max-width: $tablet-width){
        top: 0;
        left: 0;
        max-width: 260px;
        text-align: left;
    }
}
.peculiarities__point-three::before{
    top: 3px;
    left: -36px;
    border-radius: 15px;
    @media (max-width: $tablet-width){
        left: -20px; 
        top: 3px;
    }
}