.pets{
    background-color: $bg-gray;
    padding-top: 223px;
    padding-bottom: 83px;
    @media (max-width: $large-width) {
        padding-top: 100px;
        padding-bottom: 90px;
    }
    @media (max-width: $tablet-width) {
        padding-top: 60px;
        padding-bottom: 45px;
    }
}
.pets__buttons{
    display: flex;
    max-width: 250px;
    min-width: 234px;
    justify-content: space-between;
    margin-bottom: 45px;
    @media (max-width: $large-width) {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    @media (max-width: $tablet-width){
        margin: 40px 0px;
    }
}
.pets__button{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    color: $no-activ-white;
}
.pets__button:hover{
    color: $text-white;
}
.pets__image{
    position: relative;
    left: -22%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-flow: column wrap;
    max-height: 530px;
    @media (max-width: $large-width) {
        position: static;
        max-height: 100%;
        display: inline-block;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
.pets__image-item:not(:last-child){
    @media (max-width: $tablet-width){
        display: none;
    }
}
.pets__cat-image{
    @media (max-width: $large-width){
        position: absolute;
        top: 240px;
        left: 10%;
    }
}
.pets__left-image{
    @media (max-width: $large-width){
        left: 50px;
        top: 420px;
    }
}
.pets__left-image img{
    @media (max-width: $large-width){
        height: 197px;
        width:470px;
    }
}
.pets__right-image{
    @media (max-width: $large-width){
        right: 20px;
        top: 420px;
    }
}
.pets__right-image img{
    @media (max-width: $large-width){
        height: 197px;
        width:430px;
    }
}

.pets__image:nth-child(3){
    @media (max-width: $large-width){
        height: 501px;
        width: 474px;
    }
    @media (max-width: $tablet-width){
        height: 248px;
        width: 234px;
    }
}

.pets__image-item{
    @media (max-width: $large-width) {
        
    }
}
.pets__image:nth-child(1){
    @media (max-width: $large-width) {
        z-index: 10;
    }  
}
.pets__image:nth-child(2){
    @media (max-width: $large-width) {
        z-index: 9;
    }  
}
.pets__image:nth-child(3){
    @media (max-width: $large-width) {
        z-index: 9;
    }  
}
.pets__link{
    margin: auto;
    margin-top:55px;
    @media (max-width: $tablet-width){
        margin-top:40px;
    }
}
.pets__left-slide{
    display: none;
    @media (max-width: $large-width){
        display: block;
        left: 2%;
        top: 57%;
    }
    @media (max-width: $tablet-width){
        display: block;
        left:4%;
        top: 57%;
    }
}
.pets__right-slide{
    display: none;
    @media (max-width: $large-width){
        display: block;
        right: 2%;
        top: 57%;
    }
    @media (max-width: $tablet-width){
        display: block;
        right:4%;
        top: 57%;
    }
}
