.Q-A{
    background-color: $bg-gray;
    padding-top: 73px;
    padding-bottom: 3px;
    @media (max-width: $large-width) {
        padding-top: 130px;
        padding-bottom: 70px;
    }
}
.Q-A-list__point{
    color: $text-brown;
}
.question{
    color: $text-white;
    @media (max-width: $large-width) {
        max-width: 380px;
    }
    @media (max-width: $tablet-width){
        max-width: 20px;
        
    }
}
.answer{
    color: $text-white;
    border-color: $text-brown;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    padding: 40px;
    @media (max-width: $large-width) {
        padding:25px;
    }  
    @media (max-width: $tablet-width){
        max-width: 290px;
        padding:15px;
    }
}
.Q-A__sub-title{
    margin-top: 23px;
    margin-bottom: 53px;
}
.Q-A__list-container{
    //height: 410px;
    max-width: 793px;
    margin-bottom: 36px;
    @media (max-width: $large-width) {
        max-width: 553px;
    } 
    @media (max-width: $tablet-width){
        max-width: 290px;
    } 
}
.answer__text{
    @media (max-width: $large-width) {
        max-width: 400px;
    } 
    @media (max-width: $tablet-width){
        max-width: 250px;
    } 
}
.Q-A__question-button{
    position: relative;
    border: 0;
    border-style: solid;
    border-color: $text-brown;
    border-width: 1px;
    width: 793px;
    //height: 110px;
    //top:0;
    margin: 0;
    height: 100%;
    padding: 40px;
    outline: none;
    background-color: transparent;
    text-align: left;
    padding-left: 40px;
    @media (max-width: $large-width) {
        width: 553px;
        padding: 20px;   
    }
    @media (max-width: $tablet-width){
        max-width: 290px;
        padding: 15px;
        padding-right: 40px;
        height: 80px;
    }
}
.question::before{
    position: absolute;
    background-color: $text-brown;
    content: "-";
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 300;
    font-size: 36px;
    width: 105px;
    height: 100px;
    top: 0;
    box-sizing: border-box;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $text-brown;
    border-style: solid;
    border-width: 1px;
    @media (max-width: $large-width) {
        width: 73px;
        height: 60px;
    }
    @media (max-width: $tablet-width) {
        width: 43px;
        height: 78px;
    }
}
.question::after{
    position: absolute;
    color: $text-brown;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 700;
    font-size: 70px;
    height: 110px;
    left: -120px;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "0" counter(num);
    counter-increment: num;
    color: $text-brown;
    @media (max-width: $large-width) {
        font-size: 50px;
        left:-70px;
        top: -25px;
    }
    @media (max-width: $tablet-width) {
        content: "";
    }
}
.Q-A__question-link{
    align-self: flex-end;
    margin-right: 17%;
    @media (max-width: $tablet-width){
        align-self: center;
        margin-right: 0;
    }
}
.Q-A__list{
    list-style: none;
    counter-reset: num;
    padding: 0;
    margin: 0 auto;
    color: #ddd0c3;
    line-height: 24px;
    margin-bottom: 36px;
    padding-left: 50px;
    @media (max-width: $tablet-width){
        padding-left: 0px;
    }
}
.plus-answer::before{
    content: "+";
    background-color: $bg-gray;
    color: $text-brown;
}