$bg-gray:#1F1C1D;
$bg-header:#181617;
$bg-black:#151313;
$text-brown:#A07B50;
$text-white:#FFFFFF;
$no-activ-white:#FFFFFF33;
$command-text:#FFFFFFB8;
$qa-text:#DDD0C3;
$review-comment:#FFFFFFB8;
$modal-brown:#674C33;
$modal-warn:#C7AB91;

.title-sector{
  max-width: 735px;
  display: flex;
  flex-direction: column;
  //margin: 0 auto;
  //align-items: center;
  @media (max-width: $tablet-width){
        max-width: 285px;
  }
}
.sector-heading{
  color: $text-white;
  margin: 0;  
  text-align: center;
  @media (max-width: $tablet-width){
      font-size: 28px;
      line-height: 32px;
  }
}
.sector-sub-title{
  color: $text-brown;
  text-align: center;
  max-width: 520px;
  margin-top: 23px;
  margin-bottom: 38px;
  @media (max-width: $large-width) {
    margin-bottom:0;
    margin-top: 25px;
    max-width: 450px;
  }
 
}
.see__link{
  display: inline-block;
  padding:18px 35px;
  border: solid $text-brown 1px;
  color:$text-white;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.see__link:hover{
  border-color: $text-white;
  color:$text-brown;
}
.center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web-social-link{
  fill: $text-white;
  /*@media (max-width: $tablet-width){
        height: 15px;
        width: 20px;
  }*/
}
.web-social-link:hover{
  fill: $text-brown;
}
.slide-button{
  fill: $text-brown;
}
.slide-button:hover{
  fill: $text-white;
}
.hide-element-mob{
  @media (max-width: $tablet-width){
    display: none;
  }
}
.hide-element{
  display: none;
}
.add-padding{
  @media (min-width: $mobile-width){
    padding-top: 0;
  }
  @media (max-width: $tablet-width){
    padding-top: 80px;
  }
}
.show-element-only-mob{
    @media (min-width: $mobile-width){
      display: none;
    }
    @media (max-width: $tablet-width){
      display: block;
    }
}
