html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $mobile-width;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #151313;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  position: relative;

  max-width: 1286px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: $desktop-width) {
  .container {
    width: auto;
    margin: 0;
    padding: 0 27px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    padding: 0 15px;
  }
}

ul{
  padding-left: 0;
  margin:0;
}

li{
  list-style: none;
}
.social-links{
  display: flex;
}

